.home {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  background-image: url("https://skoolroomschoolerp.files.wordpress.com/2019/07/school-academic-management-software.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}

.home a {
  position: absolute;
  bottom: 50%;
  right: 20%;
}
